<web-app>  
  
<servlet>  
<servlet-name>eventsearch</servlet-name>  
<servlet-class>edu.wssu.ramhack2021.main.HomePage</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>eventsearch</servlet-name>  
<url-pattern>/index</url-pattern>  
</servlet-mapping>  

<servlet>  
<servlet-name>eventdetails</servlet-name>  
<servlet-class>edu.wssu.ramhack2021.main.EventDetails</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>eventdetails</servlet-name>  
<url-pattern>/eventdetails</url-pattern>  
</servlet-mapping>  
  
</web-app>  